<div class="main-container">
    <div class="center-container">
        <div class="content column-container">
            <div id="joinMeetingtitle">
                <span>Join Meeting</span>
            </div>
            <div class="input-label">
                <span>Meeting ID</span>
            </div>
            <div class="input-box">
                <input class="input-field" type="text" placeholder="Enter Meeting ID">
            </div>
            <div class="input-label">
                <span>Email</span>
            </div>
            <div class="input-box">
                <input class="input-field" type="text" placeholder="Enter Email">
            </div>            <div class="input-label">
                <span>Name</span>
            </div>
            <div class="input-box">
                <input class="input-field" type="text" placeholder="Enter Name">
            </div>
            <div class="terms-notice">
                <span>By clicking "Join" you agree to our Terms of Services and Privacy Statement</span>
            </div>
            <div class="join-button" (click)="redirectToTest()">
                <button class="blue-button">  Join</button>
            </div>
        </div>
    </div>
</div>
