<div class="home-page-container">

    <nav>Logo</nav>

    <main>

        <div class="home-main-left">
            <h1>Secured Remote meetings for you anytime.</h1>
            <button (click)="redirectToJoinMeeting()"> <i class="fa-solid fa-square-plus"></i> Join Meeting </button>
        </div>

        
        
        <div class="home-main-right">
            
          
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item main-item-container active">
                <div class="home-main-right-item d-block">
                  <img src="assets/c-1.svg" class="mb-2" alt="...">
                  <h2>Get a link that you can share</h2>
                  <p>Click Join Meeting to get a join to talk to the people that you want to meet with</p>

                </div>
              </div>
              <div class="carousel-item main-item-container">
                <div class="home-main-right-item d-block">
                  <img src="assets/c-2.svg" class="mb-2" alt="...">
                  <h2>See everyone together</h2>
                  <p>To see more people at the same time, go to Change layout in the More options menu</p>
                  
                </div>
              </div>
              <div class="carousel-item main-item-container">
                <div class="home-main-right-item d-block">
                  <img src="assets/c-3.svg" class="mb-2" alt="..." />
                  <div class="home-main-right-item_content">

                    <h2>Your meeting is safe</h2>
                    <p>No one can join your meeting unless they have your meeting ID</p>
                  </div>
                    
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>
    </main>

</div>