<div class="participants-section column-container">
    <div class="header-section row-container">
        <div class="participants-header active">
            <div>
            <span>Participants(24)</span>
            </div>
        </div>
    </div>
    <div class="list-section">
        <div class="participant-card row-container" *ngFor="let item of participants | keyvalue" >
            <div class="participant-image icon-img">
                <img src="https://w0.peakpx.com/wallpaper/999/880/HD-wallpaper-eren-yeager-attack-on-titan-shingeki-no-kyojin-manga-mikasa-anime-levi.jpg" alt="">
            </div>
            <div class="participant-name">
                <span>{{item.value}}</span>
            </div>
            <div class="participant-av row-container">
                <div class="participant-av-icon icon-img">
                    <img src="assets/icons/part_mic_off.png" alt="">
                </div>
                <div class="participant-av-icon icon-img">
                    <img src="assets/icons/part_camera_off.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>