<div class="column-container full-height">
    <div id="meetingHeading" class="row-container">
            <div class="back-button-section">
                <img src="assets/icons/back-arrow.png" alt="">
            </div>
            <div class="title-section">
                <span>Meeting Title</span>
            </div>
            <div class="invite-section row-container">
                <img src="assets/icons/add.png" alt="">
                <span>Invite people</span>
            </div>
    </div>
    <div class="video-section">
        <!-- video component -->
        <div class="video-component"></div>
    </div>
    <div id="meetingFooter" class="row-container">

        <div class="left-speaker">
            <div class="icon button">
                <img src="assets/icons/speaker.png"/>
            </div>
        </div>

        <div class="middle-options row-container">
            <div class="icon button">
                <img src="assets/icons/microphone.png"/>
            </div>
            <div class="icon button">
                <img src="assets/icons/camera.png"/>
            </div>
            <div class="icon button">
                <img src="assets/icons/grid.png"/>
            </div>
            <div class="icon round-icon button">
                <img src="assets/icons/options.png"/>
            </div>
        </div>

        <div class="right-leave">
            <div class="icon button">
                <img src="assets/icons/leave.png"/>
            </div>
        </div>

    </div>
</div>