<div class="column-container full-height">
  
  <!-- Leave Modal -->
  <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header modal-custom-header">
            <h3 class="title">Exit</h3>
            <button type="modal-btn-close" class="close close-btn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p class="content">End this video call for everyone?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-btn">Just leave the call</button>
            <button type="button" class="modal-btn">End the call for everyone</button>
          </div>
      </div>
    </div>
  </div>
  
   <div id="meetingHeading" class="row-container">
           <div class="back-button-section">
               <img src="assets/icons/back-arrow.png" alt="">
           </div>
           <div class="title-section">
               <span>Meeting Title</span>
           </div>
           <div class="invite-section row-container button" cdkCopyToClipboard="{{url}}">
               <img src="assets/icons/add.png" alt="">
               <span>Invite people</span>
           </div>
   </div>
   <div class="video-section">
        <div id="grid-video-section" class="grid-video-section">
            <audio #aEl></audio>
        </div>
   </div>
   <div id="meetingFooter" class="row-container">

       <div class="left-speaker" (click)="changeSpeakerStatus()">
           <div *ngIf="!speakerOff" class="icon-img button" >
               <img  src="assets/icons/speaker.png"/>
           </div>
           <div *ngIf="speakerOff" class="icon-img button disabled-icon">
               <img  src="assets/icons/speaker_off.png"/>
           </div>
       </div>

       <div class="middle-options row-container">
           <div *ngIf="!micOff" class="icon-img button" (click)="changeMicStatus()">
               <img src="assets/icons/microphone.png"/>
           </div>
           <div *ngIf="micOff" class="icon-img button disabled-icon" (click)="changeMicStatus()">
               <img src="assets/icons/mic_off.png"/>
           </div>
           <div *ngIf="!isCamOff" class="icon-img button" (click)="stopVideoRecording()" >
               <img src="assets/icons/camera.png"/>
           </div>
           <div *ngIf="isCamOff" class="icon-img button disabled-icon" (click)="startVideoRecording()">
               <img src="assets/icons/camera_off.png"/>
           </div>
           <div *ngIf="shareOff" class="icon-img button" (click)="changeScreenShareStatus()">
               <img src="assets/icons/share_screen_off.png"/>
           </div>
           <div *ngIf="!shareOff" class="icon-img button disabled-icon" (click)="changeScreenShareStatus()">
               <img src="assets/icons/share_screen_on.png"/>
           </div>
           <div class="icon-img button" (click)="changePinStatus()">
               <img src="assets/icons/grid.png"/>
           </div>
           <div class="icon-img round-icon button">
               <img src="assets/icons/options.png"/>
           </div>
       </div>

       <div class="right-leave">
           <div class="icon-img button" data-toggle="modal" data-target="#leaveModal">
               <img src="assets/icons/leave.png"/>
           </div>
       </div>

   </div>
</div>

