@import "../../../../variables.scss";
    #meetingHeading{
        background-color: white;
        flex-basis:10%;
        align-items: center;
        .back-button-section,
        .title-section,
        .invite-section
        {
            margin: 10px;
            cursor: pointer;
        }
        .back-button-section,.invite-section{
            border-radius:5px;
            padding: 5px;
            background-color: $color-grey-button-disabled;
        }
        .back-button-section{
            img{
                height:24px;
                width:24px;
            }
        }
        .title-section{
            font-family: "Segoe UI";
            font-size: large;
            font-weight: 500;
        }
        .invite-section{
            margin-left: auto;
            font-weight: 400;
            font-size:small;
            align-items: center;
            color:#378AD2;
            img,span{
                margin:3px;
            }
        }
    }
    .video-section{
        height:75%;
        overflow:hidden;
        .pin-video-section{
            width: 100%;
            height:100%;
            display: flex;
            position: relative;

            .pinned-video{
                height:95%;
                width: 85%;
                position:sticky;
                background-color: black;
                border-radius: 10px;
                video{
                    height:100%;
                    width:100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            .other-participants{
                width: 15%;
                position: relative;
                .other-video{
                    background-color: black;
                    margin:5px 0px;
                    border-radius: 10px;
                    video{
                    width:100%;
                    aspect-ratio: 1;
                    }
                }
            }
            .other-participants:hover{
                overflow:scroll;
            }
            .pinned-video,.other-participants{
                margin: 10px;
            }
        }

        .grid-video-section{
            height:100%;
            width: 100%;
            display: grid;
            grid-auto-flow: row;
            grid-auto-rows: 50%;
            grid-template-columns:repeat(3,1fr);
            grid-gap: 10px;
            .grid_video_card{
                background-color: black;
                border-radius: 10px;
                .grid_videoElement{
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }
            }
        }
        .grid-video-section:hover{
            overflow-y: scroll;
        }

    }

    #meetingFooter{
        background-color: white;
        flex-basis:15%;
        justify-content: space-between;
        align-items: center;

        .icon-img,.round-icon{
            height:40px;
            width:40px;
            display:flex;
            align-items:center;
            justify-content:center;
            img{
                height:20px;
                object-fit:cover;
            }

        }
        .button{
            border:1px solid $color-grey-input-border;
            border-radius: 10px;
            margin: 5px 10px;
        }
        .round-icon{
            border-radius:500px;
        }
        .icon:hover,.round-icon:hover{
            cursor:pointer;
        }
        .disabled-icon{
            background-color: red;
        }
    }

    #meetingHeading,.video-section{
        border-bottom:2px solid $color-grey-input-border;
    }

.modal-btn {
    background-color: transparent;
    color: #378AD2;
    border: none;
    font-size: 16px;
    font-weight: 600;
}


.title {
    font-size: large;
}

.modal-btn-close {
    position: fixed;
    top: 0;
    left: 0;
}